<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>StudentGrievanceSupport</display-name>
	<welcome-file-list>
		<welcome-file>HomePage.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/StudentGrievanceSupport/WebContent/broken.html</location>
	</error-page>
	<context-param>
		<param-name>DB_DRIVER</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/grievance_support</param-value>
	</context-param>
	<context-param>
		<param-name>DB_USER</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>9753</param-value>
	</context-param>
</web-app>